<header>
    <div class="logochelo">
        <img src="./assets/images/img_01.png">
        <div class="Furniro">Furniro</div>
    </div>
    <div class="display">
        <div class="">Home</div>
        <div class="">Shop</div>
        <div class="">About</div>
        <div class="">Contact</div>
    </div>
    <div class="navigator">
        <img src="../images/img_02.png">
        <img src="../images/img_03.png">
        <img src="../images/img_04.png">
        <img src="../images/img_05.png">
    </div>
    <div>
        <div></div>
    </div>
</header>