// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

 //==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/footer';
@use 'components/card';
@use 'components/header';

body {
  background-color: var(--main-color);
}

.main1{
  margin-top: -80px;
  background-image: url("../images/str1_1_1.webp");
  width: 1920px;
  height: 716.83px;

  &__block1{
    margin-left: 1000px;
    padding-top: 160px;
    background-color: #FFF;
    width: 643px;
    height: 443px;
    border-radius: 4px;

    &__h1{
      padding-top: 102px;
      padding-left: 64px;

    }
    &__h2{
      font-size: 52px;
      color: #B88E2F;
      padding-left: 64px;
      padding-top: 12px;

    }
    &__h3{
      font-size: 18px;
      padding-left: 64px;
      padding-top: 12px;

    }
    &__btn{
      margin-left: 64px;
      margin-top: 12px;
      width: 222px;
      height: 74px;
      background-color: #B88E2F;
      border: none;
      color: #FFFFFF;
    }
  }
}
.main2{
  text-align: center;
  &__h1{
    font-weight: 600;
    font-size: 32px;
    padding-top: 48px;
  }
  &__h2{
    font-weight: 400;
    font-size: 20px;
    color: #666666;
    padding-top: 16px;
  }
  &__block1{
    display: flex;
    text-align: center;
    gap: 120px;
    margin-left: 240px;
  }
}
.main3__btn{
  margin-top: 36px;
  margin-left: 810px;
}
.main3__but{
  width: 245px;
  height: 48px;
  color: #B88E2F;
  border: 1px solid #B88E2F;
}
.main4{
  margin-top: 64px;
  display: flex;
  &__50bt{
    padding-top: 120px;
    margin-left: 240px;
    &__50txt{
      font-weight: 600;
      font-size: 40px;
    }
    &__txt{
      padding-top: 8px;

    }
    &__btn{
      padding-top: 16px;
    }
    &__but{
      width: 176px;
      height: 48px;
      color: white;
      background-color: #B88E2F;
      border: none;
    }
  }
  &__img{
    display: flex;

  }
  &__kv{
    position: relative;
    &__bel{
      position: absolute;
      z-index: 2;
      top: 400px;
      left: 32px;

      width: 250px;
      height: 150px;
      background-color: white;
      color: #666666;
      &__txt{
        font-size: 16px;
        padding-top: 52px;
        padding-left: 32px;
        gap: 8px;
        display: flex;
        &__rect{
          width: 12px;
          height: 1px;
          background-color: #666666;
          margin-top: 9px;
        }
        &__t4{
          color: black;
          padding-left: 32px;
          font-size: 28px;
          font-weight: 600;
        }
      }
    }
    &__or{
      position: absolute;
      z-index: 3;
      top: 502px;
      left: 282px;

      width: 48px;
      height: 48px;
      background-color: #B88E2F;
      &__ctrela {
        position: absolute;
        top: 50%;
        left: 8px;
        width: 60%; // 32px
        height: 2px; // Толщина линии
        background-color: white;
        border-radius: 1px; // Округление краев (половина от высоты)
        transform: translateY(-50%); // Центрируем по вертикали

        // Стрелочка (треугольник справа)
        &::before,
        &::after {
          content: '';
          position: absolute;
          right: 0;
          width: 8px; // Длина "крыльев" стрелки
          height: 2px;
          background-color: white;
          border-radius: 1px; // Округление краев
        }

        &::before {
          top: 0.5px;
          transform: rotate(45deg); // Верхняя часть стрелки
          transform-origin: right center;
        }

        &::after {
          bottom: 0.5px;
          transform: rotate(-45deg); // Нижняя часть стрелки
          transform-origin: right center;
        }
      }
    }
  }
}
.main5{
  margin-top: 48px;
  text-align: center;
  &__h1{
    font-size: 24px;
  }
  &__h2{
    font-size: 48px;
    font-weight: 600;
  }
  &__img{
    width: 1710px;
  }
}
.display{
  display: flex;
}